%table.table.table-hover
  %thead
    %tr
      %th name
      %th Price
      %th Image
      %th


    - @products.each do |product|

      %tr
        %td= link_to product.name, product
        %td= number_to_currency product.price
        %td= image_tag product.image.thumb.url

        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
