<!DOCTYPE html>
<html>
  <head>
    <title>CakeAndBake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'application/nav' %>
    <div class='container'>
      <%= content_tag :div, notice, class: "bg-successs" %>
      <%= content_tag :div, alert, class: "bg-danger" %>

    <%= yield %>
    </div>
  </body>
</html>
